**.obj
**.tlog
**.pch
**.pdb
**.ipch
**.opendb
**.VC.db**
**.mp4
**.ilk
**.264
**.suo
**.bak
**.exp
**.iobj
**.ipdb
GPU/NVIDIA/ESMNvdec/x64/**
GPU/NVIDIA/ESMNvenc/x64/**
Out/x64/Debug/intermediate/**
Out/x64/Release/intermediate/**
